<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Home</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.46.0/tabler-icons.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="/js/logout-script.js"></script>
    <script src="/public/js/logout-script.js"></script>
    <script src="/js/activar-items-navbar.js"></script>
    <script src="/js/spinners.js"></script>
</head>

<body>
    <div class="page-wrapper" id="main-wrapper" data-theme="blue_theme" data-layout="vertical" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Inicio de barra de navegación -->
        <aside class="left-sidebar">
            <!-- Logo Institucional-->
            <div>
                <div class="brand-logo d-flex align-items-center justify-content-between mt-2">
                    <a href="home" class="text-nowrap logo-img d-flex justify-content-center align-items-center">
                        <img src="/images/img3.webp" class="dark-logo mx-auto" width="180" alt="" />
                    </a>
                </div>
                <!-- Barra de navegación-->
                <nav class="sidebar-nav scroll-sidebar" data-simplebar>
                    <ul id="sidebarnav">
                        <!-- ============================= -->
                        <!--       Matriculación           -->
                        <!-- ============================= -->
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">MATRICULACIÓN</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="registro-diario" aria-expanded="false">
                                <span>
                                    <i class="ti ti-file-text"></i>
                                </span>
                                <span class="hide-menu">Registro diario</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- Barra de navegación -->
            </div>
        </aside>
        <!--  Fin de barra de navegación -->
        <!--  Contendio principal -->
        <div class="body-wrapper">
            <!--  Encabezado de pagina -->
            <header class="app-header">
                <nav class="navbar navbar-expand-lg navbar-light">
                </nav>
            </header>
            <!--  Fin de encabezado de pagina  -->

            <div class="container-fluid">
                <div id="spinner-wrapper" class="spinner-wrapper">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading..</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/logout-script.js"></script>
    <script src="/public/js/logout-script.js"></script>


</body>

</html>