<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <title>Login</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.46.0/tabler-icons.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>

  <script src="/public/js/login-script.js"></script>

  <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="cardlogin mb-0">
              <div class="card-body">
                <a href="login"
                  class="d-flex justify-content-center align-items-center text-nowrap logo-img text-center py-3 w-100 overflow-hidden gap-2">
                  <div class="d-flex justify-content-center align-items-center " style="width: 45px;height: 45px;">
                    <img src="/images/favicon.ico" class="rounded-circle" width="60" height="60">
                  </div>
                  <div style="white-space: nowrap; text-overflow: ellipsis; max-width: 170px; overflow: hidden;">
                    <h1 class="mb-1 fw-semibold text-black">
                      emmov
                    </h1>
                  </div>
                </a>
                <div class="position-relative text-center my-4">
                  <p class="mb-0 fs-4 px-3 d-inline-block bg-white text-dark z-index-5 position-relative">Login</p>
                  <span class="border-top w-100 position-absolute top-50 start-50 translate-middle"></span>
                </div>
                <form id="loginForms" action="/login" method="post">
                  <div class="mb-3">
                    <label for="username" class="form-label fw-normal">Usuario:</label>
                    <input type="text" name="username" id="username" class="form-control" aria-describedby="" required>
                  </div>
                  <div class="form-group mb-4">
                    <label for="password" class="form-label fw-normal">Contraseña:</label>
                    <input type="password" name="password" id="password" class="form-control" required>
                  </div>

                  <div class="d-flex align-items-center justify-content-between mb-4">
                    <div class="form-check">
                      <input class="form-check-input primary" type="checkbox" value="" id="flexCheckChecked" checked>
                      <label class="form-check-label text-dark" for="flexCheckChecked">
                        Recordar credenciales
                      </label>


                    </div>
                    <!-- 
                    <a class="text-primary text-end fw-medium" href="">¿Olvidaste tu
                      contraseña?</a> -->
                  </div>

                  <div class="form-group">
                    <label for="errorMessage" id="errorMessage" class="text-danger"></label>
                  </div>
                  <button type="submit" class="btn btn-primary w-100 py-8 mb-4 rounded-2 fw-semibold"
                    id="loginForm">INICIAR
                    SECIÓN</button>
                  <div class="text-center">
                    <p class="text-muted mb-0">Vers. 1.0.1</p>
                  </div>
                </form>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="alert-container"></div>
  </div>

</body>

</html>