<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reporte diario</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.46.0/tabler-icons.min.css">

    <script src="/js/generar-reporte-diario.js"></script>
    <script src="/js/generar-pdf-reporte-diario.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.3/jspdf.umd.min.js"></script>


    <style>
        
        @page {
            size: A4 landscape;
            margin: 1cm;
        }

        body {
            margin: 0;
            font-family: Arial, sans-serif;
            font-size: 14px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }
    </style>





</head>

<body>

    <br>

    <h5 class="text-center">CUADRO GENERAL DE CLASIFICACIÓN DOCUMENTAL</h5>

    <div class="container">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="text-center align-middle col-md-1">Nº</th>
                        <th class="text-center align-middle col-md-1">SECCIÓN DOCUMENTAL</th>
                        <th class="text-center align-middle col-md-1">SUBSECCIÓN DOCUMENTAL</th>
                        <th class="text-center align-middle col-md-1">SERIE DOCUMENTAL</th>
                        <th class="text-center align-middle col-md-3">SUBSERIE DOCUMENTAL</th>
                        <th class="text-center align-middle col-md-1">N° FOJAS</th>
                        <th class="text-center align-middle col-md-1">DESCRIPCIÓN DE LA SERIE DOCUMENTAL</th>
                        <th class="text-center align-middle col-md-2">ORIGEN DE LA DOCUMENTACIÓN</th>
                        <th class="text-center align-middle col-md-1">CONDICIONES DE ACCESO</th>
                    </tr>
                </thead>
                <tbody id="tbody-tramites">
                  
                </tbody>


            </table>

        </div>


    </div>

    <br>
    <br>

    </div>




    <div class="container text-center">
        <span class="text-center" id="nombre_centro_matriculacion_span">
            <%= userData.nombre_funcionario %>
        </span>
    </div>
    <div class="container text-center">
        <strong>
            <%= userData.nombre_puesto_funcionario %>
        </strong>
    </div>










</body>

</html>