<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Reporte diario</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="node_modules/simplebar/dist/simplebar.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.46.0/tabler-icons.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="/js/generar-reporte-diario.js"></script>
    <script src="/js/generar-pdf-reporte-diario.js"></script>
    <script src="/js/activar-items-navbar.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.3/jspdf.umd.min.js"></script>


</head>

<body>

    <div class="page-wrapper" id="main-wrapper" data-theme="blue_theme" data-layout="vertical" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Inicio de barra de navegación -->
        <aside class="left-sidebar">
            <!-- Logo Institucional-->
            <div>
                <div class="brand-logo d-flex align-items-center justify-content-between mt-3">
                    <a href="home" class="text-nowrap logo-img d-flex justify-content-center align-items-center">
                        <img src="/images/img2.png" class="dark-logo mx-auto" width="180" alt="" />
                    </a>
                </div>
                <!-- Barra de navegación-->
                <nav class="sidebar-nav scroll-sidebar" data-simplebar>
                    <ul id="sidebarnav">
                        <!-- ============================= -->
                        <!--       Matriculación           -->
                        <!-- ============================= -->
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">MATRICULACIÓN</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="registro-diario" aria-expanded="false">
                                <span>
                                    <i class="ti ti-file-text"></i>
                                </span>
                                <span class="hide-menu">Registro diario</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="listado-tramites" aria-expanded="false">
                                <span>
                                    <i class="ti ti-file-check"></i>
                                </span>
                                <span class="hide-menu">Trámites realizados</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                                <span class="d-flex">
                                    <i class="ti ti-report-search"></i>
                                </span>
                                <span class="hide-menu">Reportes</span>
                            </a>
                            <ul aria-expanded="false" class="collapse first-level">
                                <li class="sidebar-item">
                                    <a href="reporte-diario" class="sidebar-link">
                                        <div class="round-16 d-flex align-items-center justify-content-center">
                                            <i class="ti ti-circle"></i>
                                        </div>
                                        <span class="hide-menu">Reporte diario </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="reporte-diario" class="sidebar-link">
                                        <div class="round-16 d-flex align-items-center justify-content-center">
                                            <i class="ti ti-circle"></i>
                                        </div>
                                        <span class="hide-menu">Reporte de especies</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="calcular-valores" aria-expanded="false">
                                <span>
                                    <i class="ti ti-coin"></i>
                                </span>
                                <span class="hide-menu">Valores a pagar</span>
                            </a>
                        </li>
                        <!-- =================== -->
                        <!-- Gestión de placas   -->
                        <!-- =================== -->
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">GESTIÓN DE PLACAS</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="report-plate" aria-expanded="false">
                                <span>
                                    <i class="ti ti-checkup-list"></i>
                                </span>
                                <span class="hide-menu">Reporte de pagos</span>
                            </a>
                        </li>
                        <!-- =================== -->
                        <!--       Otros         -->
                        <!-- =================== -->
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">OTROS</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="configuracion-cuenta" aria-expanded="false">
                                <span>
                                    <i class="ti ti-user-circle"></i>
                                </span>
                                <span class="hide-menu">Cuenta</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" aria-expanded="false" id="logoutButton" href="login">
                                <span>
                                    <i class="ti ti-login"></i>
                                </span>
                                <span class="hide-menu">Login</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- Barra de navegación -->
            </div>
        </aside>
        <!--  Fin de barra de navegación -->
        <!--  Contendio principal -->
        <div class="body-wrapper">
            <!--  Encabezado de pagina -->
            <header class="app-header">
                <nav class="navbar navbar-expand-lg navbar-light">
                </nav>
            </header>
            <!--  Fin de encabezado de pagina  -->
            <!--  Fin de encabezado de pagina  -->
            <div class="container-fluid">
                <div class="col-lg-12">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                                <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                                    <div class="mb-3 mb-sm-0">
                                        <h5 class="card-title fw-semibold">Reporte de trámites diarios</h5>
                                        <p class="card-subtitle mb-0">Cuadro de clasificación documental</p>
                                    </div>
                                    <div style="width: 20%;">
                                        <input type="text" name="" class="form-control-disable text-center" id=""
                                            placeholder="">
                                    </div>
                                </div>




                                <div class="col-12 mb-2">
                                    <div class="form-group row">
                                        <label for="area"
                                            class="col-md-2 form-label fw-semibold  col-form-label">Trámite</label>
                                        <div class="col-md-4">
                                            <select class=" col-md-8 form-select" aria-label="Default select example"
                                                disabled>
                                                <option selected="">Todos</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-12 mb-2">
                                    <div class="form-group row">
                                        <label for="area" class="col-md-2 form-label fw-semibold  col-form-label">Centro
                                            de
                                            matriculación:</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" name="nombre_centro_matriculacion"
                                                id="nombre_centro_matriculacion"
                                                value="<%= userData.nombre_centro_matriculacion %>" disabled readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 mb-2">
                                    <div class="form-group row">
                                        <label for="area" class="col-md-2 form-label fw-semibold  col-form-label">Nombre
                                            del usuario:</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" name="nombre_funcionario"
                                                id="nombre_funcionario" value="<%= userData.nombre_funcionario %>"
                                                disabled readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 mb-2">
                                    <div class="form-group row">
                                        <label for="area"
                                            class="col-md-2 form-label fw-semibold  col-form-label">Usuario:</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" name="username" id="username"
                                                value="<%= userData.username %>" disabled readonly>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-12 mb-2">
                                    <div class="form-group row">
                                        <label for="area"
                                            class="col-md-2 form-label fw-semibold  col-form-label">Fecha:</label>
                                        <div class="col-md-4">
                                            <input type="date" class="form-control" name="fecha_ingreso"
                                                id="fecha_ingreso">
                                        </div>
                                    </div>
                                </div>


                                <div class="col-12 mb-2">
                                    <div class="form-group">

                                        <label for="area"
                                            class="col-md-2 form-label fw-semibold  col-form-label"></label>



                                        <button type="submit" class="btn btn-primary me-3"
                                            id="generarReporteDiario">Procesar consulta</button>


                                        <button type="button" class="btn btn-secondary"
                                            id="generar-pdf">Generar PDF</button>

                                            <script>
                                                $(document).ready(function () {
                                                    $('#generar-pdf').click(function () {
                                                        $.ajax({
                                                            type: 'GET',
                                                            url: '/generar-pdf',
                                                            success: function (response) {
                                                                console.log('PDF generado correctamente');
                                                                // Aquí podrías mostrar un mensaje de éxito o realizar otras acciones si es necesario
                                                            },
                                                            error: function (error) {
                                                                console.error('Error al generar el PDF:', error);
                                                                // Aquí podrías mostrar un mensaje de error al usuario si es necesario
                                                            }
                                                        });
                                                    });
                                                });
                                            </script>
                                            








                                    </div>
                                </div>


                                <div class="col-12 mb-2">
                                    <div class="">
                                        <div class="col">



                                        </div>
                                    </div>


                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="text-center align-middle col-md-1">Nº</th>
                                                    <th class="text-center align-middle col-md-1">SECCIÓN DOCUMENTAL
                                                    </th>
                                                    <th class="text-center align-middle col-md-1">SUBSECCIÓN DOCUMENTAL
                                                    </th>
                                                    <th class="text-center align-middle col-md-1">SERIE DOCUMENTAL</th>
                                                    <th class="text-center align-middle col-md-3">SUBSERIE DOCUMENTAL
                                                    </th>
                                                    <th class="text-center align-middle col-md-1">N° FOJAS</th>
                                                    <th class="text-center align-middle col-md-1">DESCRIPCIÓN DE LA
                                                        SERIE
                                                        DOCUMENTAL</th>
                                                    <th class="text-center align-middle col-md-2">ORIGEN DE LA
                                                        DOCUMENTACIÓN
                                                    </th>
                                                    <th class="text-center align-middle col-md-1">CONDICIONES DE ACCESO
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbody-tramites">
                                                <!-- Aquí se agregarán dinámicamente los trámites -->
                                            </tbody>
                                        </table>
                                    </div>






                                </div>





                            </div>


                        </div>



                    </div>

                </div>

            </div>



        </div>








        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.3/jspdf.umd.min.js"></script>
        <script src="script.js"></script>





</body>

</html>