<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <title>Registrar ingreso de placas</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.46.0/tabler-icons.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
  <script src="/js/activar-items-navbar.js"></script>
</head>

<body>
  <div class="page-wrapper" id="main-wrapper" data-theme="blue_theme" data-layout="vertical" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Inicio de barra de navegación -->
    <aside class="left-sidebar">
      <!-- Logo Institucional-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between mt-2">
          <a href="home" class="text-nowrap logo-img d-flex justify-content-center align-items-center">
            <img src="/images/img3.png" class="dark-logo mx-auto" width="180" alt="" />
          </a>
        </div>
        <!-- Barra de navegación-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar>
          <ul id="sidebarnav">
            <!-- ============================= -->
            <!--       Matriculación           -->
            <!-- ============================= -->
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">MATRICULACIÓN</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="registro-diario" aria-expanded="false">
                <span>
                  <i class="ti ti-file-text"></i>
                </span>
                <span class="hide-menu">Registro diario</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="listado-tramites" aria-expanded="false">
                <span>
                  <i class="ti ti-file-check"></i>
                </span>
                <span class="hide-menu">Trámites realizados</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                <span class="d-flex">
                  <i class="ti ti-report-search"></i>
                </span>
                <span class="hide-menu">Reportes</span>
              </a>
              <ul aria-expanded="false" class="collapse first-level">
                <li class="sidebar-item">
                  <a href="reporte-diario" class="sidebar-link">
                    <div class="round-16 d-flex align-items-center justify-content-center">
                      <i class="ti ti-circle"></i>
                    </div>
                    <span class="hide-menu">Reporte diario </span>
                  </a>
                </li>
                <li class="sidebar-item">
                  <a href="reporte-diario-especies" class="sidebar-link">
                    <div class="round-16 d-flex align-items-center justify-content-center">
                      <i class="ti ti-circle"></i>
                    </div>
                    <span class="hide-menu">Reporte de especies</span>
                  </a>
                </li>
                <li class="sidebar-item">
                  <a href="reporte-tipo-vehiculo" class="sidebar-link">
                    <div class="round-16 d-flex align-items-center justify-content-center">
                      <i class="ti ti-circle"></i>
                    </div>
                    <span class="hide-menu">Rep. - Tipo de vehículo</span>
                  </a>
                </li>
                <li class="sidebar-item">
                  <a href="reporte-tramites" class="sidebar-link">
                    <div class="round-16 d-flex align-items-center justify-content-center">
                      <i class="ti ti-circle"></i>
                    </div>
                    <span class="hide-menu">Rep. - Trámites</span>
                  </a>
                </li>
                <li class="sidebar-item">
                  <a href="reporte-domicilio" class="sidebar-link">
                    <div class="round-16 d-flex align-items-center justify-content-center">
                      <i class="ti ti-circle"></i>
                    </div>
                    <span class="hide-menu">Rep. - Domicilio</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="home" aria-expanded="false">
                <span>
                  <i class="ti ti-coin"></i>
                </span>
                <span class="hide-menu">Valores a pagar</span>
              </a>
            </li>
            <!-- =================== -->
            <!-- Gestión de placas   -->
            <!-- =================== -->
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">GESTIÓN DE PLACAS</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="report-plate" aria-expanded="false">
                <span>
                  <i class="ti ti-checkup-list"></i>
                </span>
                <span class="hide-menu">Reporte de pagos</span>
              </a>
            </li>
            <!-- =================== -->
            <!-- TITULOS HABILITANTES  -->
            <!-- =================== -->
            <!--
                  <li class="nav-small-cap">
                      <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                      <span class="hide-menu">TITULOS HABILITANTES</span>
                  </li>
                  <li class="sidebar-item">
                      <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                          <span class="d-flex">
                              <i class="ti ti-file-certificate"></i>
                          </span>
                          <span class="hide-menu">Gestión documental</span>
                      </a>
                      <ul aria-expanded="false" class="collapse first-level">
                          <li class="sidebar-item">
                              <a href="ingreso-resoluciones" class="sidebar-link">
                                  <div class="round-16 d-flex align-items-center justify-content-center">
                                      <i class="ti ti-circle"></i>
                                  </div>
                                  <span class="hide-menu">Ingreso de archivos</span>
                              </a>
                          </li>
                          <li class="sidebar-item">
                              <a href="reporte-diario" class="sidebar-link">
                                  <div class="round-16 d-flex align-items-center justify-content-center">
                                      <i class="ti ti-circle"></i>
                                  </div>
                                  <span class="hide-menu">Edición de archivos</span>
                              </a>
                          </li>
                          <li class="sidebar-item">
                              <a href="reporte-diario" class="sidebar-link">
                                  <div class="round-16 d-flex align-items-center justify-content-center">
                                      <i class="ti ti-circle"></i>
                                  </div>
                                  <span class="hide-menu">Visualización de archivos</span>
                              </a>
                          </li>
                      </ul>
                  </li> -->
            <!-- =================== -->
            <!--       Otros         -->
            <!-- =================== -->
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">OTROS</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="configuracion-cuenta" aria-expanded="false">
                <span>
                  <i class="ti ti-user-circle"></i>
                </span>
                <span class="hide-menu">Cuenta</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" aria-expanded="false" id="logoutButton" href="login">
                <span>
                  <i class="ti ti-login"></i>
                </span>
                <span class="hide-menu">Login</span>
              </a>
            </li>
          </ul>

        </nav>
        <!-- Barra de navegación -->
        <div class="fixed-profile p-3 mx-4 mb-3  rounded mt-3">
          <div class="hstack gap-3">
            <div class="john-img" style="width: 40px; height: 40px;">
              <img src="/images/user.png" class="rounded-circle" width="40" height="40" alt="">
            </div>
            <div class="john-title">
              <h6 class="mb-0 fs-4 fw-semibold">
                <%= userData.username %>
              </h6>
              <span class="fs-2">
                <%= userData.nombre_funcionario %>
              </span>
            </div>
          </div>
        </div>



      </div>
    </aside>
    <!--  Fin de barra de navegación -->
    <!--  Contendio principal -->
    <div class="body-wrapper">
      <!--  Encabezado de pagina -->
      <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
        </nav>
      </header>
      <!--  Fin de encabezado de pagina  -->
      <div class="container-fluid" style="width: 70%;">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-12">
                <!-- Yearly Breakup -->
                <div class="card overflow-hidden">
                  <div class="card-body p-4">
                    <form action="/guardar-placa-inventario" method="post" id="">
                      <div class="d-sm-flex d-block  justify-content-center mb-2 col-12 gap-1">

                        <nav class="col-lg-3" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a class="text-decoration-none text-black" href="home">Inventario de placas</a>
                                </li>
                                <li class="breadcrumb-item text-muted " aria-current="page">Ingreso</li>
                            </ol>
                        </nav>

                        <div class="d-block mb-3 mb-sm-0 col-lg-6  justify-content-center">
                            <h5 class="text-dark fw-semibold text-center">Ingreso de placas al inventario institucional</h5>
                            <p class="card-subtitle mb-0 d-flex justify-content-center">Ingrese el número de placa del vehiculo</p>
                        </div>


                        <div class="dropdown col-lg-3 justify-content-end d-flex"> 
                            <a class="text-dark fs-6 nav-icon-hover" href="javascript:void(0)" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              <i class="ti ti-dots-vertical"></i>
                            </a>
                          </div>
                          
                          


                        
                    </div>
                    <hr>



                      <div class="py-3 bg-four-card rounded">

                        <div class="row  d-flex">
                          <div class="col-lg-3">
                            <div class="mb-2 align-items-center justify-content-center d-flex">
                              <label for="" class="form-label fw-semibold me-2">Estado: </label>
                              <h7 class="form-label" style="font-weight: 400;">Finalizado</h7>
                            </div>
                          </div>
                          <div class="col-lg-3">
                            <div class="mb-2 align-items-center justify-content-center d-flex">
                              <label for="" class="form-label fw-semibold me-2">Fecha:
                              </label>
                              <h7 class="form-label" style="font-weight: 400;" id="fecha_ingreso" name="fecha_ingreso">
                              </h7>
                            </div>
                          </div>
                          <div class="col-lg-3">
                            <div class="mb-2 align-items-center justify-content-center d-flex">
                              <label for="" class="form-label fw-semibold me-2">Estado: </label>
                              <h7 class="form-label" style="font-weight: 400;">Finalizado</h7>
                            </div>
                          </div>
                          <div class="col-lg-3">
                            <div class="mb-2 align-items-center justify-content-center d-flex">
                              <label for="" class="form-label fw-semibold me-2">Fecha:
                              </label>
                              <h7 class="form-label" style="font-weight: 400;" id="fecha_ingreso" name="fecha_ingreso">
                              </h7>
                            </div>
                          </div>

                        </div>



                        <div class="row  d-flex">
                          <div class="col-lg-3">
                            <div class="mb-2 align-items-center justify-content-center d-flex">
                              <label for="" class="form-label fw-semibold me-2">Estado: </label>
                              <h7 class="form-label" style="font-weight: 400;">Finalizado</h7>
                            </div>
                          </div>
                          <div class="col-lg-3">
                            <div class="mb-2 align-items-center justify-content-center d-flex">
                              <label for="" class="form-label fw-semibold me-2">Fecha:
                              </label>
                              <h7 class="form-label" style="font-weight: 400;" id="fecha_ingreso" name="fecha_ingreso">
                              </h7>
                            </div>
                          </div>
                          <div class="col-lg-3">
                            <div class="mb-2 align-items-center justify-content-center d-flex">
                              <label for="" class="form-label fw-semibold me-2">Estado: </label>
                              <h7 class="form-label" style="font-weight: 400;">Finalizado</h7>
                            </div>
                          </div>
                          <div class="col-lg-3">
                            <div class="mb-2 align-items-center justify-content-center d-flex">
                              <label for="" class="form-label fw-semibold me-2">Fecha:
                              </label>
                              <h7 class="form-label" style="font-weight: 400;" id="fecha_ingreso" name="fecha_ingreso">
                              </h7>
                            </div>
                          </div>

                        </div>

                      </div>

                      <div class="py-3">
                        <div class="row">
                          <div class="col-lg-4">
                            <div class="mb-2">
                              <label for="" class="col-lg-9 form-label fw-semibold">Placa:</label>
                              <input type="text" class="col-lg-12 form-control-flex" name="placa">
                            </div>
                          </div>
                          <div class="col-lg-4">
                            <div class="mb-2">
                              <label for="" class="col-lg-9 form-label fw-semibold">Clase de
                                vehículo:</label>
                              <select class="form-select-flex col-lg-12" name="clase_transporte"
                                aria-label="Default select example">
                                <option selected=""></option>
                                <option value="COMERCIAL">VEHICULO</option>
                                <option value="PARTICULAR">MOTOCICLETA</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-lg-4">
                            <div class="mb-2">
                              <label for="" class="col-lg-9 form-label fw-semibold">Clase de
                                transporte:</label>
                              <select class="form-select-flex col-lg-12" name="clase_transporte"
                                aria-label="Default select example">
                                <option selected=""></option>
                                <option value="COMERCIAL">COMERCIAL</option>
                                <option value="PARTICULAR">PARTICULAR</option>
                                <option value="PUBLICO">PUBLICO</option>
                                <option value="ESTATAL">ESTATAL</option>
                                <option value="MUNICIPAL">MUNICIPAL</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-10">
                            <div class="mb-2">
                              <label for="" class="col-lg-3 form-label fw-semibold">Trámite:</label>
                              <select class="form-select-flex col-lg-12" aria-label="Default select example"
                                name="clase_vehiculo">
                                <option selected=""></option>
                                <option value="VEHICULO">EMISION DE MATRICULA POR PRIMERA VEZ</option>
                                <option value="MOTOCICLETA">TRANSFERENCIA DE DOMINIO</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-lg-2">
                            <div class="mb-2">
                              <label for="" class="col-lg-10 form-label fw-semibold">Color:</label>
                              <input type="text" class="col-lg-12 form-control-flex" name="ubicacion">
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-4">
                            <div class="mb-2">
                              <label for="" class="col-lg-10 form-label fw-semibold">Ubicación:</label>
                              <select class="form-select-flex col-lg-12" aria-label="Default select example"
                                name="clase_vehiculo">
                                <option selected=""></option>
                                <option value="VEHICULO">CAJA 1</option>
                                <option value="MOTOCICLETA">CAJA 2</option>
                                <option value="VEHICULO">CAJA 1</option>
                                <option value="MOTOCICLETA">CAJA 2</option>
                                <option value="VEHICULO">CAJA 1</option>
                                <option value="MOTOCICLETA">CAJA 2</option>
                                <option value="VEHICULO">CAJA 1</option>
                                <option value="MOTOCICLETA">CAJA 2</option>
                                <option value="VEHICULO">CAJA 1</option>
                                <option value="MOTOCICLETA">CAJA 2</option>
                                <option value="VEHICULO">CAJA 1</option>
                                <option value="MOTOCICLETA">CAJA 2</option>
                                <option value="VEHICULO">CAJA 1</option>
                                <option value="MOTOCICLETA">CAJA 2</option>
                                <option value="VEHICULO">CAJA 1</option>
                                <option value="MOTOCICLETA">CAJA 2</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-lg-4">
                            <div class="mb-2">
                              <label for="" class="col-lg-10 form-label fw-semibold">Cantidad:</label>
                              <input type="number" class="col-lg-12 form-control-flex" name="ubicacion">
                            </div>
                          </div>
                          <div class="col-lg-4">
                            <div class="mb-2">
                              <label for="" class="col-lg-10 form-label fw-semibold">Fecha de ingreso:</label>
                              <input type="date" class="form-control-flex col-lg-12" name="ingreso_fecha"
                                id="ingreso_fecha" placeholder="" required>
                              <script>
                                document.addEventListener('DOMContentLoaded', function () {
                                  var fechaUTC = new Date();
                                  var desplazamientoNavegador = fechaUTC.getTimezoneOffset();
                                  var desplazamientoEcuador = -300;
                                  var fechaEcuador = new Date(fechaUTC.getTime() + (desplazamientoEcuador - desplazamientoNavegador) * 60000);
                                  var formattedDate = fechaEcuador.toISOString().substr(0, 10);
                                  document.getElementById('ingreso_fecha').value = formattedDate;
                                });
                              </script>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-lg-12">
                            <div class="mb-2">
                              <label for="" class="col-lg-3 form-label fw-semibold">Estado:</label>
                              <ul class="list-group">
                                <li class="list-group-item">
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="list1">
                                    <label class="form-check-label" for="list1">
                                      Por entregar
                                    </label>
                                  </div>
                                </li>
                                <li class="list-group-item">
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="list2">
                                    <label class="form-check-label" for="list2">
                                      Entregado
                                    </label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>


                      </div>











                      <div class="text-end mt-4 gap-3">
                        <button type="submit"
                          class="justify-content-center btn mb-1 me-2 fw-semibold btn-rounded  btn-secondary shadow-btn align-items-center ">
                          <font _mstmutation="1" _msttexthash="76830" _msthash="372"> Cancelar </font>
                        </button>

                        <button type="submit"
                          class="justify-content-center btn mb-1 fw-semibold btn-rounded btn-primary shadow-btn align-items-center ">

                          <font _mstmutation="1" _msttexthash="76830" _msthash="372"> Guardar </font>
                        </button>
                      </div>

                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>



</body>

</html>