<form>
    <div class="form-group">
        <label for="ruc">RUC</label>
        <input type="text" class="form-control" id="ruc" name="ruc" placeholder="Ingrese su RUC">
    </div>
    <button type="submit" class="btn btn-primary mt-3">Enviar</button>
</form>
